body {
  background-image: url("assets/bg.jpg");
  background-size: cover;
  font-family: sans-serif;
}

.background-blur-layer {
  background-color: rgba(255, 255, 255, 0.9);
  background-size: contain;
  z-index: -1;
}

.front-layer {
  border-radius: 20px;
  background: linear-gradient( rgba(232, 142, 232, 0.3), rgba(176, 176, 249, 0.3));
  /* background-color: rgba(0, 0, 0, 0.1); */
  background-size: contain;
}

.navbar-background {
  background: linear-gradient( rgba(232, 142, 232, 0.3), rgba(176, 176, 249, 0.3));
}

.default-header {
  margin-top: 5%;
  text-align: center;
}

.box {
  padding: 20px;
  background: linear-gradient( rgba(232, 142, 232, 1), rgba(176, 176, 249, 1));;
  border-radius: 20px;
  overflow: hidden;
}